@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/10_extras/backgroundImg.jpg');
    background-repeat: 0;
    background-size: cover;
    height: 100vh;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 84px;
    letter-spacing: 5px;
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
    margin-block-end: 0;
}

canvas {
    background-color: black;
    margin-bottom: 100px;
    border-radius: 20px;
    
}

.d-none {
    display: none !important;
}

.start {
    height: 420px;
    width: 720px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: 0;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.gameOver {
    height: 420px;
    width: 720px;
    background-image: url('img/9_intro_outro_screens/game_over/game over!.png');
    background-repeat: 0;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: calc(50vh - (420px / 2) + (101px / 4));
    left: auto;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 14px;
    width: 121px;
    height: 38px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-color: #ffb900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}

button:hover {
    scale: 1.1;
    cursor: pointer;
}

.miniBtns {
    position: absolute;
    top: calc(50vh - 180px);
    left: calc(50vw + 230px);
    display: flex;
    gap: 8px;
}

.miniBtns img {
    width: 30px;
    height: 30px;
}

.miniBtns img:hover {
    scale: 1.2;
    cursor: pointer;
}

.loading {
    height: 420px;
    width: 720px;
    border-radius: 20px;
    position: absolute;
    top: calc(50vh - (424px / 2) + (86px / 4));
    left: auto;
    display: flex;
    justify-content: center;    
    background-color: #efe07c;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #efe07c 19px ), repeating-linear-gradient( #f1a80a, #f4a481 );
    flex-direction: column;
    align-items: center;
    font-size: 84px;
}

.loading p{
    margin: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 130px;
    height: 130px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid rgb(53, 53, 53);
    border-color: rgb(53, 53, 53) transparent rgb(53, 53, 53) transparent;
    animation: lds-dual-ring 1.5s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  
  
